.center{
    text-align: center;
}

.subTitle{
  font-size: 0.5em;
  color: rgba(0, 0, 0, 0.5);
}
b{
    margin-top: 2%;
    margin-bottom: 1%;
}
.btn-x-lg{
  width: 100%;
}

.alert{
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  background-color: rgb(129, 127, 223);
  color: white;
}
.alert button{
  background-color: rgb(129, 127, 223);
  color: white;
  border: none;
}


.panel,.container{
  margin-top: 50px;
}

select{
  display: inline-block;
}
form{
  margin-bottom: 30px;
}
