.center{
    text-align: center;
}

b{
    margin-top: 2%;
    margin-bottom: 1%;
}

.alert{
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  background-color: rgb(129, 127, 223);
  color: white;
}
.alert button{
  background-color: rgb(129, 127, 223);
  color: white;
  border: none;
}


.panel,.container{
  margin-top: 50px;
}

select{
  display: inline-block;
}
form{
  margin-bottom: 30px;
}
