{% extends 'layout.twig' %}

{% import 'Macro/form.twig' as form %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Se connecter</div>
                    <div class="panel-body">
                        <form action="{{ path_for('login') }}" method="POST">
                            {{ form.group('username', null, 'username', 'Nom d\'utilisateur') }}
                            {{ form.group('password', null, 'password', 'Mot de passe', null, 'password') }}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="remember"> Se souvenir
                                </label>
                            </div>
                            {{ csrf() }}
                            <div class="center">
                                <input type="submit" value="Connection" class="btn btn-primary">
                                <p><b>OU</b></p>
                                <a href="https://fcp.integ01.dev-franceconnect.fr/api/v1/authorize?response_type=code&client_id=d6fe64a8e32e11cfaf1a9a15b8d6c036a7988743cfe3c0ed338238045c3dc75b&redirect_uri=localhost%3A8000%2FfranceConnect%3Fcallback&scope=openid given_name family_name email&state=STATE&nonce=NONCE"><img src="images/bouton_fc.png" alt=""></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
