{% extends 'layout.twig' %}

{% block body %}

<div class="container">
    <div class="jumbotron">
        <h1>{{auth.user.username}}</h1>
        {{auth.user.email}}
    </div>
</div>

{% endblock %}
