{% extends 'layout.twig' %}

{% block body %}

<div class="container">
  {% for appelOffre in appelOffres %}
    <ul>
        <li> <a href="{{path_for('appeloffre.show', {'ao_id': appelOffre.id})}}"><h1>{{appelOffre.nom}}<span class="subTitle">{{appelOffre.entreprise.nom}}</span></h1></a> </li>
    </ul>

  {% endfor %}
</div>

{% endblock %}
