{% extends 'layout.twig' %}

{% import 'Macro/form.twig' as form %}
{% block body %}
<div class="container">

    <h1>{{appelOffre.nom}}<span class="subTitle"> {{entreprise.nom}}</span></h1>
    <p>{{appelOffre.description}}</p>
</div>

{% endblock %}
