{% extends 'layout.twig' %}

{% import 'Macro/form.twig' as form %}

{% block body %}

<div class="container">
    <div class="panel">
      <form action="{{ path_for('user.updateRole') }}" method="POST">
          Choisir son rôle:
          <select name="role" id="role" class="form-control">
               <option value="moe">Maitre d'oeuvre</option>
               <option value="mo">Maitre d'ouvrage</option>
          </select>
          {{csrf()}}
          <input type="submit" value="Modifier" class="btn btn-primary">
      </form>
    </div>

</div>

{% endblock %}
